@import 'mixins.scss';

.event {
  h1 {
    margin-bottom: 10px;
  }
  h2 {
    margin-bottom: 5px;
    font-weight: normal;
    line-height: 32px;
    font-size: 20px;
  }
  #event_map {
    height: 300px;
    margin-top: 20px;
  }
  .rsvp {
    margin-top: 20px;
  }
  .address {
    font-weight: bold;
    margin-bottom: 10px;
    color: #444;
  }
  .description {
    img {
      max-width: 620px;
    }
  }
  .event_members {
    .event_member_listing {
      form {
        margin: 0;
      }
      ul {
        margin: 0px 0px 0px 30px;
      }
      li {
        margin-bottom: 5px;
      }
      .event_member_dog_list li{
        form, div {
          display: inline;
        }
        
      } 
    }
  }
}

.events {
  h3 {
    font-size: 24px;
    font-weight: normal;
    color: #545454;
    line-height: 35px;
    a {
      color: inherit;
    }
  }
  li {
    margin-bottom: 30px;
  }
  .info {
    font-size: 14px;
    line-height: 28px;
  }
  .btn.details {
    margin-top: 8px;
  }
}

.event-dog-list { @include dogs-list; }

.event-member-list { 
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  &.odd {
    background-color: #EAEAEA;
  }
  &.even {
    background-color: #fff;
  }
  form {
    float: right;
    margin: 0px;
  }
 }

.at_dog_capacity {
  color: red;
}