@import '../bootstrap-sass/variables';
@import 'mixins';

.hero {
  background-image: url(../images/hero-bg.png);
  background-color: #ececec;
  background-repeat: repeat-x;
  background-position: bottom;
  margin-top: -20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  min-height: 259px;
  border-top: 1px solid white;
  .logo {
    text-align: center;
    padding-top: 10px;
  }
  .copy {
    padding-top: 20px;
    p {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 20px;
    }
    .emphasis {
      font-size: 26px;
      font-weight: bold;
      letter-spacing: -1px;
    }
  }
  .btn {
      margin-top: 10px;
      margin-right: $gridGutterWidth;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
  }
}

#twitter {
  .tweet_list {
    margin: 0;
    list-style: none;
    li {
      margin-top: 20px;
    }
  }
  .tweet_time {
    font-size: 11px;
    color: #7f7f7f;
    a {
      color: inherit;
    }
  }
}

.social-icons {
  > a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
  .twitter-icon {
    @include sprite(0, 0, 32px, 32px);
  }
  .fb-icon {
    @include sprite(-40px, 0, 32px, 32px);
  }
  .linkedin-icon {
    @include sprite(-80px, 0, 32px, 32px);
  }
}

.addnl-content {
  margin-top: 20px;
  padding: 20px 0px;
  background-color: $white;
  color: #5a5a5a;
}

.home-page-cms {
  padding: 20px 0px;
  background-color: $white;
  color: #5a5a5a;
}