/* Variables.less
 * Variables to customize the look and feel of Bootstrap
 * ----------------------------------------------------- */
/* mixins.css.scss
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
.dog-title h1 {
  margin: 0; }
.dog-title h2, .dog-title h3 {
  font-weight: normal; }

.dog-info {
  margin-top: 10px; }

.share h4 {
  display: inline; }

#main_photo {
  text-align: center;
  background-color: #eee;
  height: 400px;
  line-height: 400px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  #main_photo img {
    vertical-align: middle;
    max-width: 380px; }

ul#thumbs_list {
  margin-top: 10px;
  overflow: auto; }
  ul#thumbs_list li {
    display: inline-block; }
    ul#thumbs_list li img {
      cursor: pointer;
      border: #fff solid 4px;
      width: 70px;
      height: 70px; }
    ul#thumbs_list li.selected img {
      border-color: rgba(82, 168, 236, 0.8); }

section.share_links input.long {
  width: 250px; }
