/* mixins.css.scss
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
/* Instead of using bootstrap grid, display list of inline-block elements so we can vertically align to handle long dog names.
 * Need to set up the ul similar to the bootstrap row element. with a negative margin.
 * TODO: fix layout on IE7 due to inline-block
*/
#dog-viewer-controls {
  overflow: auto;
  margin-bottom: 20px; }
  #dog-viewer-controls > a {
    float: left;
    vertical-align: middle; }
  #dog-viewer-controls form {
    float: left;
    margin: 0; }
  #dog-viewer-controls .search {
    background-image: url(../images/sprite-sheet.png);
    height: 32px;
    width: 32px;
    background-position: -200px 0px;
    margin-left: 10px; }
    #dog-viewer-controls .search:hover {
      background-position: -200px -32px; }
    #dog-viewer-controls .search:active {
      background-position: -200px -64px; }
    #dog-viewer-controls .search.nohover:hover {
      background-position: -200px 0px; }
    #dog-viewer-controls .search.nohover:active {
      background-position: -200px 0px; }
  #dog-viewer-controls .clear {
    background-image: url(../images/sprite-sheet.png);
    height: 32px;
    width: 32px;
    background-position: -240px 0px;
    margin-left: 10px; }
    #dog-viewer-controls .clear:hover {
      background-position: -240px -32px; }
    #dog-viewer-controls .clear:active {
      background-position: -240px -64px; }
    #dog-viewer-controls .clear.nohover:hover {
      background-position: -240px 0px; }
    #dog-viewer-controls .clear.nohover:active {
      background-position: -240px 0px; }
  #dog-viewer-controls .previous {
    background-image: url(../images/sprite-sheet.png);
    height: 32px;
    width: 32px;
    background-position: -120px 0px;
    margin-left: 30px;
    margin-right: 5px; }
    #dog-viewer-controls .previous:hover {
      background-position: -120px -32px; }
    #dog-viewer-controls .previous:active {
      background-position: -120px -64px; }
    #dog-viewer-controls .previous.nohover:hover {
      background-position: -120px 0px; }
    #dog-viewer-controls .previous.nohover:active {
      background-position: -120px 0px; }
  #dog-viewer-controls .next {
    background-image: url(../images/sprite-sheet.png);
    height: 32px;
    width: 32px;
    background-position: -160px 0px;
    margin-left: 10px; }
    #dog-viewer-controls .next:hover {
      background-position: -160px -32px; }
    #dog-viewer-controls .next:active {
      background-position: -160px -64px; }
    #dog-viewer-controls .next.nohover:hover {
      background-position: -160px 0px; }
    #dog-viewer-controls .next.nohover:active {
      background-position: -160px 0px; }
  #dog-viewer-controls .pagination-dot {
    float: left;
    background-image: url(../images/sprite-sheet.png);
    height: 12px;
    width: 12px;
    background-position: -280px 0px;
    margin-left: 5px;
    margin-top: 10px; }
    #dog-viewer-controls .pagination-dot:hover {
      background-position: -280px -12px; }
    #dog-viewer-controls .pagination-dot:active {
      background-position: -280px -24px; }
    #dog-viewer-controls .pagination-dot.nohover:hover {
      background-position: -280px 0px; }
    #dog-viewer-controls .pagination-dot.nohover:active {
      background-position: -280px 0px; }
    #dog-viewer-controls .pagination-dot.active {
      background-position: -280px -12px; }

ul.dogs-list {
  margin-left: -20px;
  margin-bottom: 0px;
  font-size: 0; }
  ul.dogs-list li {
    vertical-align: top;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 140px;
    display: inline-block;
    list-style-type: none; }
  ul.dogs-list h3 {
    text-align: center;
    margin-top: 10px;
    line-height: 22px;
    min-height: 44px; }
  ul.dogs-list img {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border: 2px solid #eee;
    padding: 8px;
    display: block; }
    ul.dogs-list img:hover {
      border-color: rgba(82, 168, 236, 0.8);
      -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
      -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6); }
  ul.dogs-list a {
    text-decoration: none; }

#dog-results {
  display: inline-block;
  margin-bottom: 10px;
  color: #505050; }
