#event_info {
  float: left; }
  #event_info #event_map {
    width: 350px;
    height: 300px; }

#event_rsvp {
  float: left;
  margin-left: 25px; }
  #event_rsvp #event_list {
    list-style-type: none; }
