.event h1 {
  margin-bottom: 10px; }
.event h2 {
  margin-bottom: 5px;
  font-weight: normal;
  line-height: 32px;
  font-size: 20px; }
.event #event_map {
  height: 300px;
  margin-top: 20px; }
.event .rsvp {
  margin-top: 20px; }
.event .address {
  font-weight: bold;
  margin-bottom: 10px;
  color: #444; }
.event .description img {
  max-width: 620px; }

.events h3 {
  font-size: 24px;
  font-weight: normal;
  color: #545454;
  line-height: 35px; }
  .events h3 a {
    color: inherit; }
.events li {
  margin-bottom: 30px; }
.events .info {
  font-size: 14px;
  line-height: 28px; }
.events .btn.details {
  margin-top: 8px; }
