.full-width-row.hero
  .span4.logo
    %a=image_tag("dog-logo.png")
  .span7.copy
    %p
      %span.emphasis Second Chance Dog Rescue
      is one of San Diego's largest and most successful non-profits, dedicated to saving homeless dogs.
    %p We rescue, rehabilitate and rehome dogs from local shelters and surrendered by owners.
    %a.btn.danger Donate
    %a.btn Volunteer
    %a.btn About Us
.adopt-dogs
  .row
    %h1.span2 Adopt
  .dog-viewer-controls
    =text_field_tag 'filter', nil, :placeholder => 'Search by breed or by name', :class => 'dog-search'
    %a.previous
    %a.next
  %ul.dogs-list
    -@dogs.each do |dog|
      %li
        %img{ :src=>"http://placehold.it/120x120", "data-original-title"=>dog.name.titleize, "data-content"=>dog.short_description }
        %h3=dog.name.titleize

.full-width-row.addnl-content
  .span8.events
    %h1 Adoption Events
    %ul.unstyled
      %li.row
        .span2
          %a=image_tag('http://placehold.it/140x140')
        .span6
          %h3 PetCo Monthly Adoptions
          %p
            <strong>1st Saturday</strong> - Petco Sports Arena - 10:00 AM - 3:00 PM 
            %br
            <strong>2nd Saturday</strong> - Petco La Mesa - 10:00 AM - 3:00 PM
            %br
            <strong>3rd Saturday</strong> - Petco Sports Arena - 10:00 AM - 3:00 PM
            %br
            <strong>4th Saturday</strong> - Petco Poway - 10:00 AM - 4:00
            %br
          %p
            Yr helvetica scenester chambray, echo park wolf tumblr you probably haven't heard of them locavore tofu. Tattooed VHS leggings american apparel cosby sweater. Thundercats quinoa tofu
          %a.btn Read More
      %li.row
        .span2
          %a=image_tag('http://placehold.it/140x140')
        .span6
          %h3 South Bark Dog Wash
          %p Please join us on the fourth Saturday of the month from 11:00 am to 2:00 pm for a great community adoption event! Synth 8-bit cosby sweater, tumblr keytar vice organic echo park single-origin coffee carles viral brunch gluten-free ethical terry richardson. Cosby sweater wes anderson you probably haven't heard of them seitan trust fund
          %p{:style => "color: red;"} There will be no event the weekends of Thanksgiving and Christmas
          %a.btn Read More
      %li.row
        .span2
          %a=image_tag('http://placehold.it/140x140')
        .span6
          %h3 East Lake Village Vet Clinic
          %p Dog Adoption Event
          %p December 10th from 11:00am to 4:00 pm
          %a.btn Read More
  .span4
    %h1 Follow Us
    .social-icons
      %a.twitter-icon{:href => 'http://twitter.com/#!/2ndChanceDog/'}
      %a.fb-icon{:href => 'http://www.facebook.com/SecondChanceDogRescue'}
      %a.linkedin-icon{:href => 'http://linkedin.com'}
    #twitter

= render :partial => "/shared/content_page"
