#member_form {
  width: 560px;
  padding-right: 20px;
  float: left;
  border-right: 2px dotted #f2f2f2;
}
#member_dogs, #event_dogs {
  width: 355px;
  float: left;
  margin-left: 20px;
  #dog_id {
    width: 200px;
    height: 20px;
    font-size: 16px;
    margin-top: 2px;
  }
  input[name="commit"] {
    float: right;
  }
}

.admin-dogs-list, .member-dog-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  .dog {
    overflow: auto;
    padding: 5px 2px 5px 10px;
    .name {
      font-size: 14px;
      line-height: 25px;
    }
    &.odd {
      background-color: #EAEAEA;
    }
    &.even {
      background-color: #fff;
    }
    form {
      float: right;
    }
  }
}


.pagination_container {
  table {
    width: 100%;
  }
  td {
    padding: 3px;
  }
  // the following rule is from bootstrap.  how would we import it or a variable containing the rule ?
  // table tr + tr td {
  //  border-top: 1px solid #DDD;
  // }
}