<p>Welcome <%= @resource.email %>!</p>

<p>Thank you for your interest in volunteering for Second Chance Dog Rescue.</p>
<p>A Second Chance staff member will contact you soon to find out what kind of volunteer opportunities interest you.  After they have made contact, they will confirm your account.  We look forward to speaking with you soon!</p>

<p>In the meantime, please make sure to remember your password!</p>

<p>Thank You</p>

<p>The Second Chance Dog Rescue Team</p>


