!!! 5
%html
%head
  %title Dogs
  = stylesheet_link_tag 'bootstrap', 'base'
  = javascript_include_tag :all
  = csrf_meta_tag
%body
  .topbar
    .topbar-inner
      .container
        %a.brand{:href => "#"}
          =image_tag("logo.png")
        %ul.nav
          %li.active
            %a{:href => "#"} Dogs
          %li
            %a{:href => "#about"} Events
          %li
            %a{:href => "#resources"} Owner Surrenders
          %li
            %a{:href => "#contact"} How to Help 
  .container.main
    = yield

    %footer
      =render :partial => 'shared/footer'
