!!! 5
%html
%head
  %title Dogs
  = stylesheet_link_tag 'bootstrap', 'base'
  = javascript_include_tag :all
  = csrf_meta_tag
%body
  .topbar
    .topbar-inner
      .container
        %a.brand{:href => "#"}
          =image_tag("logo.png")
        %ul.nav
          %li.active
            %a{:href => "#"} Home
          %li
            %a{:href => "#about"} About
          %li
            %a{:href => "#contact"} Contact
          %li.dropdown
            %a.dropdown-toggle{:href=>"#"} Dropdown
            %ul.dropdown-menu
              %li some stuff
              %li Some other stuff
              %li.divider
              %li Further stuff
  .container.main
    = yield

    %footer
      =render :partial => 'shared/footer'
